/build/
/build-*/
/.dist/
/_CPack_Packages/
/results/*
!/results/.gitkeep
/local/
/runtime/
/backups/
/benchmarks/
/experiments/
/dependencies/
/sources/
*.py[cod]
__pycache__/
compile_commands.json
_dist/
*.tar.gz
*.tar.xz
*.deb
